Repository cidkumagai/react-template: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, lint, format

lefthook.yaml:

pre-commit:
  piped: true
  commands:
    secretlint:
      priority: 1
      glob: '**/*'
      run: |
        pnpm secretlint {staged_files}
      stage_fixed: true

    lint:
      priority: 2
      tags: src
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts}'
      run: |
        pnpm eslint {staged_files} --max-warnings=0 --fix --cache
      stage_fixed: true

    format:
      priority: 3
      glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts,md,mdx,yaml,yml,json,html,css}'
      run: |
        pnpm prettier {staged_files} --write
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: |
        pnpm commitlint --edit {1}

lefthook.yml:

pre-commit:
  piped: true
  commands:
    format:
      priority: 1
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts,md,mdx,yaml,yml,json,html,css}"
      run: |
        pnpm prettier {staged_files} --write
      stage_fixed: true

    lint:
      priority: 2
      tags: src
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts}"
      run: |
        pnpm eslint {staged_files} --fix --max-warnings=0
      stage_fixed: true

commit-msg:
  commands:
    "lint the commit message":
      run: |
        pnpm commitlint --edit {1}

chore: installコマンド実施
  pnpm-lock.yaml
Due: format

ci: 共通化
  .github/composite-actions/install/action.yml
  .github/workflows/quality.yml
Due: secretlint, format

fix: バージョン指定を削除
  .github/composite-actions/install/action.yml
Due: secretlint, format

chore: gha削除
  .github/composite-actions/install/action.yml
  .github/workflows/auto-assign.yml
  .github/workflows/quality.yml
Due: secretlint, format

feat: migrate tooling to Vite+ with oxlint and oxfmt
  .eslint/base.ts
  .eslint/import.ts
  .eslint/index.ts
  .eslint/language-option.ts
  .eslint/react-hooks.ts
  .eslint/react.ts
  .eslint/shared.ts
  .eslint/testing-library.ts
  .eslint/typescript.ts
  .eslint/vitest.ts
  .gitignore
  .prettierrc.json
  AGENTS.md
  __test__/unit/App.test.tsx
  eslint.config.ts
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  src/vite-env.d.ts
  tsconfig.app.json
  vite.config.ts
  vitest.config.mts
Due: secretlint, lint, format
